$yellow: #d5b72f;
$yellow_50: rgb(213 183 47 / 50%);

$orange: #ff8e00;

$red: #d52f31;
$reddish: #be272a;
$light-red: #ed5650;

$light-green: #1bb91b;
$green: #097509;

$white: #ffffff;
$white_40: rgb(255 255 255 / 40%);

$dark: #181312;
$dark-brown: #2c2424;
$black_70: rgb(0 0 0 / 70%);
