$white: #ffffff;
$white_40: rgba(255, 255, 255, 0.4);

$dark: #181312;
$dark-brown: #2c2424;
$black_70: rgb(0 0 0 / 70%);

$orange: #f98b00;

$main_bg_color: #1b1b2f;

$radio_main_color: #f22077;
$radio_bottom_line_color: #7360a0;

$power_off_color: #b21c44;
$power_off_border_color: $white_40;

$power_on_color: #17de32;
