@import './_colors.scss';
@import './_animations.scss';

body {
  background-color: #343434;
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.player {
  background-color: $yellow;
  width: 330px;
  height: 190px;
  border-radius: 5px;
  box-shadow: 0 8px 0 0 $yellow_50;
  position: relative;
}

.record {
  border: 0;
  padding: 0;
  cursor: pointer;
  height: 175px;
  width: 175px;
  background-color: $dark;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:before {
    content: '';
    position: absolute;
    height: 135px;
    width: 135px;
    border: 5px solid transparent;
    border-top: 5px solid $dark-brown;
    border-bottom: 5px solid $dark-brown;
    border-radius: 50%;
  }

  &::after {
    content: '';
    position: absolute;
    height: 95px;
    width: 95px;
    border: 5px solid transparent;
    border-top: 5px solid $dark-brown;
    border-bottom: 5px solid $dark-brown;
    border-radius: 50%;
  }

  .on & {
    animation: rotate 3s 1s linear infinite;
  }

  .label {
    background-color: $dark;
    height: 15px;
    width: 15px;
    border: 20px solid $orange;
    border-radius: 50%;
  }
}

.stick {
  cursor: pointer;
  border: 0;
  padding: 0;
  height: 90px;
  width: 6px;
  background-color: $white;
  position: absolute;
  top: 25px;
  right: 95px;
  transition: 1s;
  transform-origin: top;

  &:before {
    content: '';
    height: 40px;
    width: 6px;
    background-color: $white;
    position: absolute;
    transform: rotate(30deg);
    bottom: -36px;
    right: 10px;
  }

  &:after {
    content: '';
    position: absolute;
    height: 0;
    width: 10px;
    border-top: 18px solid #b2aea6;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    transform: rotate(30deg);
    top: 108px;
    right: 12.5px;
  }

  .on & {
    transform: rotate(30deg);
    transform-origin: top;
    transition: 1s;
  }

  .screw {
    background-color: #504745;
    height: 17px;
    width: 17px;
    border: 10px solid $dark-brown;
    border-radius: 50%;
    position: absolute;
    top: -16px;
    left: -16px;
  }
}

.control-indicator {
  height: 28px;
  width: 28px;
  background-color: $light-red;
  border-radius: 50%;
  position: absolute;
  bottom: 20px;
  right: 30px;
  border: none;
  border: 3.5px solid $reddish;
  animation-play-state: paused;
  outline: none;
  transition: opacity 0.25s ease-in-out;

  .on & {
    background-color: $light-green;
    border-color: $green;
    animation: blinking 2s linear infinite;
  }
}

.slider {
  transform: rotate(-90deg);
  width: 90px;
  height: 7px;
  -webkit-appearance: none;
  background-color: $black_70;
  border: 6px solid $white_40;
  border-radius: 3px;
  outline: none;
  position: absolute;
  left: 233px;
  top: 60px;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: $white;
    width: 10px;
    height: 12px;
    cursor: pointer;
  }
}

.loader {
  color: $white;
  font-size: 20px;
  text-transform: uppercase;
  animation: blinking 1.5s linear infinite;
}

.hidden {
  display: none;
}
